In [1]:
import pandas as pd 
import os
os.chdir('C:/Users/Indium Software/Desktop/Current')

In [2]:
uuid=pd.read_excel('uuid and asana project.xlsx',sheet_name = 'uuid sheet')
asana_project=pd.read_excel('uuid and asana project.xlsx',sheet_name = 'Asana')

In [55]:
merged = pd.merge(asana_project, uuid, on = 'uuid')
#merged.shape
b = list(merged.index)

In [56]:
filtered = merged[merged['project_name']!=merged['a_project_name']]
#filtered.shape
a = list(filtered.index)

In [57]:
not_in_filtered = [i for i in b if i not in a]
merged_wo_filter = merged.iloc[not_in_filtered]

In [58]:
filtered['a_project_name'] = filtered['project_name']
filtered.shape

C:\Users\Indium Software\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(30, 24)

In [59]:
final_df=pd.concat([merged_wo_filter,filtered])

In [89]:
filtered[['project_name','a_project_name']]

In [136]:
import pandas as pd
import numpy as np
import smtplib
import uuid
from sqlalchemy import create_engine
import psycopg2

engine = create_engine('postgresql://postgres:postgres@52.250.114.201:5432/connor_data')

In [102]:
pd.read_sql_query('SELECT table_name FROM information_schema.tables',con=engine)

                              table_name
0    asana_project_custom_field_settings
1          asana_custom_field2_csv_dummy
2                  harvest_time_entries2
3                           float_people
4                      asana_enum_values
5                asana_project_followers
6                   asana_projmembership
7                    asana_custom_field2
8                 asana_project_sections
9                           pg_statistic
10          asana_taskcustom_fields_one2
11                           float_task3
12                     asana_task_backup
13                      pg_foreign_table
14                             pg_authid
15                        asana_project2
16                             pg_shadow
17                           float_task4
18                           float_task2
19                              pg_roles
20                           pg_settings
21                      pg_file_settings
22                     pg_hba_file_rules
23                         asana_tracker
24                             pg_config
25                     float_departments
26                                   asp
27                          asana_status
28                          float_client
29                         float_holiday
..                                   ...
279             billable_hours_scheduled
280                           float_task
281                      available_hours
282                       test_custfield
283                  float_departments_1
284                        float_task123
285                                 uuid
286                           asana_task
287                     float_client_dup
288                    asana_project_dup
289                      asana_teams_dup
290                 harvest_projects_dup
291                      Total_Scheduled
292                    float_project_dup
293                             uuid_dup
294       standard_resource_availability
295                      total_scheduled
296                        asana_project
297                           test_float
298             asana_tracker_testremote
299              asana_task_enum_refresh
300           asana_taskprojects_refresh
301      asana_project_followers_refresh
302         asana_projmembership_refresh
303          asana_taskfollowers_refresh
304                  asana_teams_refresh
305                float_project_refresh
306                 float_client_refresh
307                   float_task_refresh
308              float_milestone_refresh

[309 rows x 1 columns]

In [90]:
#c=pd.read_sql_query('SELECT * from asana_project_dup limit 10',con=engine)
pd.read_sql_query('SELECT count(*) from asana_project_dup',con=engine)

In [123]:
pd.read_sql_query('SELECT count(*) from uuid_dup',con=engine)

   count
0   1585

In [139]:
#Find out Project Names which have different names in Asana Projects and UUID mapping tables.
pd.read_sql_query('SELECT c.a_project_name, c.project_name from (select * from asana_project_dup a INNER JOIN uuid_dup b on a.uuid = b.uuid) c where trim(c.project_name) != trim(c.a_project_name)',con=engine)

Empty DataFrame
Columns: [a_project_name, project_name]
Index: []

In [140]:
#Find out Project Names which have different names in Harvest Projects and UUID mapping tables.
pd.read_sql_query('SELECT c.h_project_name, c.name from (select * from harvest_projects_dup a INNER JOIN uuid_dup b on a.uuid = b.uuid) c where trim(c.name) != trim(c.h_project_name)',con=engine)

Empty DataFrame
Columns: [h_project_name, name]
Index: []

In [141]:
#Find out Project Names which have different names in Float Projects and UUID mapping tables.
pd.read_sql_query('SELECT c.f_project_name, c.project_name from (select * from float_project_dup a INNER JOIN uuid_dup b on a.uuid = b.uuid) c where trim(c.f_project_name) != trim(c.project_name)',con=engine)

Empty DataFrame
Columns: [f_project_name, project_name]
Index: []

In [142]:
#Find out Client Names which have different names in Asana Teams and UUID mapping tables.
pd.read_sql_query('SELECT c.a_team_name, c.team_name from (select * from asana_teams_dup a INNER JOIN uuid_dup b on a.uuid = b.uuid) c where trim(c.a_team_name) != trim(c.team_name)',con=engine)

Empty DataFrame
Columns: [a_team_name, team_name]
Index: []

In [137]:
#Find out Client Names which have different names in Harvest Projects and UUID mapping tables.
pd.read_sql_query('SELECT c.h_team_name, c.client_name from (select * from harvest_projects_dup a INNER JOIN uuid_dup b on a.uuid = b.uuid) c where trim(c.h_team_name) != trim(c.client_name)',con=engine)

Empty DataFrame
Columns: [h_team_name, client_name]
Index: []

In [138]:
#Find out Client Names which have different names in Float Projects and UUID mapping tables.
pd.read_sql_query('SELECT c.f_team_name, c.client_name from (select * from float_client_dup a INNER JOIN uuid_dup b on a.uuid = b.uuid) c where trim(c.f_team_name) != trim(c.client_name)',con=engine)

Empty DataFrame
Columns: [f_team_name, client_name]
Index: []

In [118]:
# Find all the Project and CLient Names
pd.read_sql_query('select team_name from asana_teams_dup',con=engine)

In [147]:
# Update Project and Client Names in UUID sheets based on values in Projects and Team tables
conn = psycopg2.connect(host="52.250.114.201",database="connor_data", user="postgres", password="postgres")
engine1= conn.cursor()
engine1.execute ("update uuid_dup set a_project_name = (select project_name from asana_project_dup where asana_project_dup.uuid = uuid_dup.uuid)")
engine1.execute ("update uuid_dup set a_team_name = (select team_name from asana_teams_dup where asana_teams_dup.team_id = uuid_dup.a_team_id)")
engine1.execute ("update uuid_dup set h_project_name = (select name from harvest_projects_dup where harvest_projects_dup.uuid = uuid_dup.uuid)")
engine1.execute ("update uuid_dup set h_team_name = (select client_name from harvest_projects_dup where harvest_projects_dup.uuid = uuid_dup.uuid)")
engine1.execute ("update uuid_dup set f_project_name = (select project_name from float_project_dup where float_project_dup.uuid = uuid_dup.uuid)")
engine1.execute ("update uuid_dup set f_team_name = (select client_name from float_client_dup where float_client_dup.client_id = uuid_dup.f_team_id)")
conn.commit()
conn.close()

In [144]:
pd.read_sql_query('select * from harvest_projects_dup limit 5',con=engine)

,bill_by,budget,budget_by,budget_is_monthly,client_currency,client_id,client_name,code,cost_budget,cost_budget_include_expenses,...,notify_when_over_budget,over_budget_notification_date,over_budget_notification_percentage,show_budget_to_all,starts_on,updated_at,uuid,lob,elapsed,currentdate
0,none,None,none,false,USD,7984547,Dolby-IMP,,None,false,...,false,None,80.0,false,None,2019-06-12,52a96650-4b22-4245-935a-edb712b96122,None,00:00:21,2019-06-18
1,none,None,none,false,USD,7984547,Dolby-IMP,,None,false,...,false,None,80.0,false,None,2019-06-12,a73f5e6e-2574-4de9-bdcc-a86b38b40e11,None,00:00:18,2019-06-18
2,none,None,none,false,USD,6339681,Autodesk,,None,false,...,true,None,80.0,false,None,2019-02-06,a89d963c-b6cd-4b79-8772-0d0ef2df57a6,SLC,00:04:14,2019-06-18
3,none,None,none,false,USD,7984547,Dolby-IMP,,None,false,...,false,None,80.0,false,None,2019-06-12,46a38ec9-ff8e-492e-8cab-093bd853e7b3,None,00:00:23,2019-06-18
4,none,None,none,false,USD,7984547,Dolby-IMP,,None,false,...,false,None,80.0,false,None,2019-06-12,b0f584aa-3aa3-4d8f-982e-aa400c5a7c7c,None,00:00:23,2019-06-18

In [146]:
pd.read_sql_query('select * from uuid_dup limit 5',con=engine)

,uuid,a_archived,a_created_on,a_project_id,a_project_name,a_team_id,a_team_name,a_modified_at,h_active,h_created_on,...,h_team_id,h_team_name,h_modified_at,f_active,f_created_on,f_project_id,f_project_name,f_team_id,f_team_name,f_modified
0,c4614d33-72f8-4aca-80c5-6c8fcb64787d,0,2019-04-04,1.117274e+15,Microchip,6.702834e+14,Rambus,2019-05-16,1,2019-04-04 00:00:00,...,6277832,Rambus,2019-04-04,1,2019-04-04 00:00:00,1920816.0,Microchip,17007183,Rambus,2019-04-04
1,81c00d72-0403-4f6d-aff0-0ca603fcae06,0,2019-04-04,1.117274e+15,NVIDIA,6.702834e+14,Rambus,2019-05-16,1,2019-04-04 00:00:00,...,6277832,Rambus,2019-04-04,1,2019-04-04 00:00:00,1920807.0,NVIDIA,17007183,Rambus,2019-04-04
2,f6cd116f-40cd-4650-9c31-da77f9d19827,0,2019-03-14,1.114356e+15,City of San Antonio,1.110746e+15,Quest,2019-05-16,1,2019-03-14 00:00:00,...,7839049,Quest,2019-03-14,1,2019-03-14 00:00:00,1888766.0,City of San Antonio,17049467,Quest,2019-03-14
3,66bb5305-ddf1-46fc-b5b7-e4f32aa3392b,0,2019-03-05,1.112599e+15,CORPORACION NOVAVISION S DE RL DE CV,1.110746e+15,Quest,2019-05-16,1,2019-03-05 00:00:00,...,7839049,Quest,2019-04-01,1,2019-03-05 00:00:00,1869481.0,CORPORACION NOVAVISION S DE RL DE CV,17049467,Quest,2019-03-05
4,17960e64-e6fb-481d-bb18-b6be5a2161d3,0,2019-03-05,1.112599e+15,EMPRESAS PUBLICAS DE MEDELLIN ESP,1.110746e+15,Quest,2019-06-04,1,2019-02-22 00:00:00,...,7839049,Quest,2019-02-22,1,2019-02-22 00:00:00,1857048.0,EMPRESAS PUBLICAS DE MEDELLIN ESP,17049467,Quest,2019-02-22

In [ ]:
engine1.execute ("update uuid_dup set f_project_name = (select project_name from float_project_dup where float_project_dup.uuid = uuid_dup.uuid)")
engine1.execute ("update uuid_dup set f_team_name = (select client_name from float_project_dup where float_project_dup.client_id = uuid_dup.f_team_id)")